body[adapt='pc']>*{
	display: none !important;
}

body[adapt='pc']>uni-adapt-pc{
	display: block !important;
}

body[adapt='pc'] {
	margin: 0;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
}

body[adapt='pc']::-webkit-scrollbar,html::-webkit-scrollbar {
	display: none ;
}

body[adapt='pc'] uni-adapt-pc .container{
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	min-width: 800px;
	max-width: 900px;
	max-height: 800px;
}

body[adapt='pc'] uni-adapt-pc .frame{
	width: 392px;
	height: 100%;
	margin: auto;
	max-height: 800px;
	box-sizing: border-box;
	background-image: url("https://mp-9c9554a3-d4de-4f0f-b941-dfe1990da1c1.cdn.bspapp.com/cloudstorage/0b71fe4e-e143-4a24-9944-2156d3978915.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f5f5;
	border-radius: 50px;
	float: left;
}

body[adapt='pc'] uni-adapt-pc iframe{
	width: 353px;
	height: 708px;
	background-color: #f5f5f5;
	box-sizing: content-box;
	border: none;
	margin: 55px 0 0 20px;
	border-radius: 5px 5px 20px 20px;
}

body[adapt='pc'] uni-adapt-pc .content{
	width: 500px;
	height: 100%;
	float: right;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}